@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/fonts.css */


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  font-family: 'Rubik', sans-serif;
}

/* for 768px */
/* Blog Whole Page CSS */
@media screen and (max-width: 768px){
  /* Blog Whole Page CSS */
  .BlogContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .latestBlog {
    width: 100%;
  }

  .Searchbar{
    width: 100%;
  }

  /* For Home Page Content after Bio */
  .SocalLinks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .ContainerForHomePage{
    flex-direction: column;
    width: 100%;
  }

  .latestProject{
    width: 100%;
    padding-top: 5px ;
  }
}
